@font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MyriadPro-Regular.eot');
    src: local('./fonts/Myriad Pro Regular'), local('./fonts/MyriadPro-Regular'),
    url('./fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/MyriadPro-Regular.woff') format('woff'),
    url('./fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SummerFont';
    src: url('./fonts/SummerFont-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/SummerFont-Light.woff') format('woff'), url('./fonts/SummerFont-Light.ttf') format('truetype'), url('./fonts/SummerFont-Light.svg#SummerFont-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4 {
    margin: 0;
}

.happynew2018,
.happynew2018 * {
    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.happynew2018 a {
    text-decoration: none;
}

.c-label {
    font-size: 18px;
}
.c-input {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #656565;
    padding: 12px;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    outline: none;
    transition: all .2s ease-out;
    box-sizing: border-box;
}

.c-input:focus {
    border-color: #9acc4e;
    outline: none;
    box-shadow: 0 0 5px 0 #9acc4e;
    transition: all .2s ease-out;
}

.c-obligatory-field {
    color: #bf364d;
}

.header {
    background: url(./img/bg-header.jpg) 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 36px;
    padding-bottom: 85px;
}

.header__top {
    text-align: justify;
    font-size: 0;
    padding: 50px 46px 46px;
    display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
    -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
}

/*.header__top::after {
    content: '';
    display: inline-block;
    width: 100%;
}*/

.header__back {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 20px 20px 20px 64px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 16px;
    color: #817f7d;
    cursor: pointer;
    white-space: nowrap;
}

.header__back::before {
    content: '';
    position: absolute;
    left: 27px;
    top: 20px;
    background: url(./img/arr-left.png) 0 0 no-repeat;
    width: 18px;
    height: 16px;
}

.header__logo {
    padding: 16px 0 0;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.header__tel {
    display: inline-block;
    vertical-align: top;
    padding: 20px 34px;
    background-color: #9acc4e;
    text-align: center;
    color: #fff;
    font-size: 21px;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
}

.header__body {
    max-width: 322px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 5px;
    border-radius: 3px;
    background-color: #fff;
}

.card-elka {
    border: 1px solid #9acc4e;
    text-align: center;
    color: #2c2c2c;
    font-size: 19px;
    border-radius: 3px;
    padding: 50px 10px 22px 10px;
    position: relative;
}

.card-elka::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 15px;
    width: 29px;
    height: 29px;
    background: url(./img/icon-r.png) 0 0 no-repeat;
}

.card-elka__item {
    color: #2c2c2c;
}

.card-elka__item span {
    color: #9acc4e;
}

/*.card-elka__item:nth-child(1) {
  padding: 0 16px;
}*/

.card-elka-line {
    margin: 22px 0;
}

.card-elka__title {
    /*font-size: 19px;*/
    line-height: 1;
    color: #9acc4e;
}

/*filter----------------------------------*/
.layout {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    padding: 0 20px;
    margin-bottom: 51px;
}

.filter::after {
    content: '';
    display: block;
    clear: both;
}

.filter__left {
    float: left;
}

.filter__right {
    float: right;
}

.filter-btn {
    display: inline-block;
    font-size: 17px;
    border-radius: 50px;
    padding: 8px 20px;
    cursor: pointer;
}

.filter-btn i {
    margin-left: 11px;
}

.filter__city {
    background-color: #9acc4e;
    color: #fff;
}

.filter__datepiker,
.filter__metro {
    background-color: #f1efe8;
    color: #646464;
}

/*мероприятия----------------------------------*/
.events {
    position: relative;
    overflow: hidden;
}

.events .layout {
    position: relative;
}

.events-bg {
    position: absolute;
}

.bg-elka {
    top: 0;
    left: -355px;
}

.bg-gingerbread {
    
    top: 50px;
    left: 100%;
}

.events__list {
    margin-left: -31px;
    margin-right: -31px;
    font-size: 0;
    padding-bottom: 37px;
}

.events__item {
    display: inline-block;
    margin-bottom: 63px;
    width: 33.3333%;
    padding: 0 31px;
    padding: 0 65px;
    padding-top: 35px;
}

.card-event {
    width: 325px;
    height: 325px;
    background: url(./img/bg-event.png) 0 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    transition: all .1s ease;
}

.card-event:hover {
    background: url(./img/bg-event-hover.png) 0 0 no-repeat;
    transition: all .1s ease;
    -webkit-background-size: cover;
    background-size: cover;
}

.card-event:hover .card-event__box {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transition: all .2s ease-out;
}

.card-event__box {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #fff;
    color: #bf364d;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-out;
}

.card-event__box span {
    position: absolute;
    font-family: 'SummerFont', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-event__content {
    text-align: center;
    padding-top: 16px;
}

.card-event__title {
    font-size: 32px;
    color: #7d3637;
    margin-bottom: 14px;
    padding: 0 60px;
    font-family: 'SummerFont', sans-serif;
    text-transform: uppercase;
    line-height: 1;
}

.card-event__price {
    display: inline-block;
    color: #99c506;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    position: relative;
    padding: 0 26px;
}

.card-event__price::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 19px;
    height: 6px;
    background: url(./img/icon-decor.png) 0 0 no-repeat;
}

.card-event__price::after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 6px;
    background: url(./img/icon-decor.png) -19px 0 no-repeat;
}

.card-event__date {
    font-size: 14px;
    color: #808080;
    margin-bottom: 4px;
}

.card-event__time {
    font-size: 14px;
    color: #808080;
}

/*footer----------------------------------*/

.footer {
    padding: 18px 0;
    background-color: #fff;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .1);
    text-align: center;
    margin-bottom: 60px;
}

.footer-social {
    text-align: center;
    margin-bottom: 8px;
}

.footer-social__title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.footer-social__item {
    border: none;
}

.footer-social__item::after {
    content: '';
    border: none;
}

.footer__link {
    color: #817f7d;
    font-size: 14px;
    font-family: 'Calibry', sans-serif;
}

.footer__copy {
    font-family: 'Calibry', sans-serif;
    color: #817f7d;
    font-size: 14px;
}


/*icons----------------------------------*/
.icon {
    display: inline-block;
    vertical-align: top;
}

.icon-date {
    width: 19px;
    height: 19px;
    background: url(./img/icon-date.png) 0 0 no-repeat;
}

.icon-metro {
    width: 20px;
    height: 17px;
    background: url(./img/icon-metro.png) 0 0 no-repeat;
}

.icon-city {
    width: 12px;
    height: 20px;
    background: url(./img/icon-city.png) 0 0 no-repeat;
}


.icon-vk {
    position: relative;
    width: 21px;
    height: 19px;
    fill: #9b9696;
    vertical-align: top;
}

.icon-fb {
    position: relative;
    width: 18px;
    height: 19px;
    fill: #9b9696;
    vertical-align: top;
}

.icon-o {
    position: relative;
    width: 20px;
    height: 19px;
    fill: #9b9696;
    vertical-align: top;
}

.icon-calendar {
  width: 18px;
  height: 18px;
  background: url(./img/icon-calendar.png) 0 0 no-repeat;
}

.icon-clock {
  width: 16px;
  height: 16px;
  background: url(./img/icon-clock.png) 0 0 no-repeat;
}

.icon-baby {
  width: 19px;
  height: 17px;
  background: url(./img/icon-baby.png) 0 0 no-repeat;
}

.icon-card {
  width: 18px;
  height: 18px;
  background: url(./img/icon-card.png) 0 0 no-repeat;
}



@media screen and (max-width: 1700px) {
   /*.bg-elka {
        top: -11%;
        left: -300px;
    }

    .bg-gingerbread {
        top: 0;
        right: -461px;
    }*/
}

@media screen and (max-width: 1370px) {
    .header__body {
        max-width: 440px;
    }

    .card-elka-line {
        margin: 8px 0;
    }
    .header__logo {
      text-align: center;
    }

    .header__logo img {
      width: 70%;
      padding-top: 0;
    }

    .card-event {
        width: 280px;
        height: 280px;
    }

    .layout {
       max-width: 880px;
    }

    .card-event__title {
        padding: 0 44px;
        font-size: 29px;
    }

    .events__item {
        padding: 0 15px;
        margin-bottom: 30px;
    }

    .card-event__box {
        width: 181px;
        height: 181px;
    }
}

@media screen and (max-width: 1120px) {
  .events__list {
    text-align: center;
  }
    .events__item {
      width: auto;
    }

    .header__top {
          padding: 25px;
    }
}

@media screen and (max-width: 980px) {

    .mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .header__body {
        max-width: 640px;
    }

    .card-elka__item {
        font-size: 15px;
    }
}

/**/

.popup {
    font-family: 'Myriad Pro', sans-serif;
    width: 500px;
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 16px 57px 0 rgba(0, 0, 0, 0.47);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin: 0 auto;
    /*opacity: 1 !important;*/
    /*visibility: visible !important;*/
    padding: 5px;
    color: #2c2c2c;
}

.popup-close {
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: #f6f6f6;
    right: 49px;
    top: 31px;
    border-radius: 56px;
    font-size: 14px;
    color: #2c2c2c;
    line-height: 56px;
    text-align: center;
    cursor: pointer;
}

.popup-body {
    padding: 55px 76px;
    z-index: 10;
    border: 1px solid #9acc4e;
}

.popup-title {
    position: relative;
    text-align: left;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'SummerFont', sans-serif;
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    filter: alpha(opacity=80);
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: 0 !important;
    -webkit-backface-visibility: hidden;
    /*display: none;*/
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: all .2s ease;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    /*width: 100%;*/
    cursor: auto;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: left;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}

/*popup show*/
.popup-show {
    opacity: 1 !important;
    visibility: visible !important;
    -webkit-animation: scaleUp 0.2s;
    animation: scaleUp 0.2s;
}

.popup-slide__show {
    opacity: 1 !important;
    visibility: visible !important;
}

.dropdown-show .icon-dropdown {
    -webkit-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.is-visible {
    opacity: 1 !important;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.is-hide {
    display: none !important;
}

.body-popup {
    overflow: hidden !important;
    padding-right: 16px;
}

.header-top__hide {
    -webkit-animation: slide-down 0.4s;
    animation: slide-down 0.4s;
}

.btn {
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'SummerFont', sans-serif;
    text-transform: uppercase;
    background-color: #9acc4e;
    padding: 4px 29px;
    font-size: 37px;
    color: #ffffff;
    border-radius: 100px;
}

.c-popup-list {
  margin-left: -17px;
}

.c-popup-list__column {
  display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
}
.c-popup-list__column ..c-popup-list li {
  width: 48%;
}

.c-popup-list__item {
}

.c-popup-list__item a {
  display: inline-block;
  font-size: 18px;
  color: #2c2c2c;
  text-decoration: none;
  padding: 10px 17px;
  border-radius: 100px;
  transition: all .1s ease-out;
}

.c-popup-list__item a:hover {
  background-color: #9acc4e;
  color: #fff;
  transition: all .1s ease-out;
}

/*counter*/
.popup-event-form .c-counter {
  margin-right: 56px;
}
.c-counter {
  display: inline-block;
  border-radius: .2rem;
  font-family: "PT Serif Caption";
  position: relative;
  font-size: 0;
}
  .c-counter__field {
    border: none;
    background-color: #fff;
    outline: none;
    text-align: center;
    display: inline-block;
    width: 56px!important;
    font-size: 48px;
    font-family: 'SummerFont', sans-serif;
  }

  .c-counter__btn {
    font-size: 36px;
    color: #222;
    background-color: #f6f6f6;
    border-radius: 56px;
    outline: none;
    border: none;
    display: inline-block;
    text-align: center;
    width: 56px;
    height: 56px;
    line-height: 48px;
    cursor: pointer;
    font-family: 'SummerFont', sans-serif;
  }
  .c-counter__btn:hover {
    background-color: #9acc4e;
    color: #fff;
  }

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    70%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    70%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
