.popup-event .popup {
    width: 1000px;
}

.popup-event__box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.popup-event-form__grid {
    margin-bottom: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin-left: -6px;
    margin-right: -6px;
}

.popup-event-form__item {
    width: 50%;
    padding: 0 6px;
}

.popup-event__map {
    width: 390px;
    height: 613px;
    background-color: #ccc;
}
.popup-event-des {
    padding: 10px 0 28px 24px;
}

.popup-event-des__text {
   font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}